<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.can.appstore">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:hardwareAccelerated="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".homerank.HomeRankActivity"></activity>
        <activity
            android:name=".index.IndexActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".myapps.ui.AllAppsActivity"></activity>
        <activity android:name=".myapps.ui.AddAppsActivity"></activity>
        <activity android:name=".special_detail.SpecialDetailActivity"></activity>
    </application>

</manifest>