<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.can.appstore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REAGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHAND_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".search.SearchActivity">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.ACTIVITY_SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".specialdetail.SpecialDetailActivity">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.TOPIC_DETAIL" />
            </intent-filter>
        </activity>
        <activity android:name=".active.ActiveActivity">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.ACTIVITY_DETAIL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PortalActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.Translucent.FadeIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".index.IndexActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION_INDEX"/>
            </intent-filter>
        </activity>
        <activity android:name=".myapps.addappsview.AddAppsActivity">

        </activity>
        <activity android:name=".myapps.allappsview.AllAppsActivity">
            <intent-filter>
                <action android:name="com.can.appstore.applist.ACTION.ACTIVITY_ALLAPPS" />
            </intent-filter>
        </activity>
        <activity android:name=".update.UpdateManagerActivity">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.ACTIVITY_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".installpkg.InstallManagerActivity">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.ACTIVITY_INSTALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".myapps.ui.SystemAppsActivity">
            <intent-filter>
                <action android:name="com.can.appstore.applist.ACTION.ACTIVITY_SYSTEMAPPS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".download.DownloadActivity"
            android:theme="@style/AppTheme.Translucent.FadeIn">
            <intent-filter>
                <action android:name="com.can.appstore.action.DOWNLOAD" />
            </intent-filter>
        </activity>
        <activity
            android:name=".specialtopic.SpecialActivity"
            android:theme="@style/AppTheme.Translucent.FadeIn">
            <intent-filter>
                <action android:name="com.can.appstore.action.SPECIAL_TOPIC" />
            </intent-filter>
        </activity>
        <activity android:name=".applist.AppListActivity">
            <intent-filter>
                <action android:name="com.can.appstore.applist.ACTION.applist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".download.DownloadLeadAcitivity"></activity>

        <activity
            android:name=".uninstallmanager.UninstallManagerActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Translucent.FadeIn">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.UNINSTALL_MANAGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appdetail.AppDetailActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="com.can.appstore.ACTION.APP_DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".appdetail.ImageScaleActivity"
            android:theme="@style/Image_Scale_Transparent"></activity>

        <service android:name=".upgrade.UpgradeService">
            <intent-filter>
                <action android:name="com.can.appstore.upgrade.UpgradeService" />
            </intent-filter>
        </service>
        <activity android:name="com.can.appstore.message.MessageStartActivity"></activity>
        <activity android:name="com.can.appstore.message.MessageHomeActivity"></activity>
        <activity android:name="com.can.appstore.message.MessageActivity">
            <intent-filter>
                <action android:name="com.can.appstore.message.ACTION.Message" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".upgrade.bugly.BuglyUpgradeService">
            <intent-filter>
                <action android:name="com.can.appstore.upgrade..bugly.BuglyUpgradeService"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.can.appstore.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>