<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.can.appstore">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.Translucent.FadeIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PortalActivity">

        </activity>
        <activity android:name=".search.SearchActivity">

        </activity>
        <activity android:name=".specialdetail.SpecialDetailActivity">

        </activity>
        <activity android:name=".active.ActiveActivity">

        </activity>
        <activity android:name=".homerank.HomeRankActivity">

        </activity>
        <activity
            android:name=".index.IndexActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity android:name=".myapps.addappsview.AddAppsActivity">

        </activity>
        <activity android:name=".myapps.allappsview.AllAppsActivity">

        </activity>
        <activity android:name=".update.UpdateManagerActivity">

        </activity>
        <activity android:name=".installpkg.InstallManagerActivity">

        </activity>
        <activity android:name=".myapps.ui.SystemAppsActivity">

        </activity>
        <activity android:name=".myapps.ui.CustomFolderIconActivity">

        </activity>
        <activity
            android:name=".download.DownloadActivity"
            android:theme="@style/AppTheme.Translucent.FadeIn"
            >
            <intent-filter>
                <action android:name="com.can.appstore.action.DOWNLOAD"/>
            </intent-filter>
        </activity>
        <activity android:name=".specialtopic.SpecialActivity"
            android:theme="@style/AppTheme.Translucent.FadeIn"
            >
            <intent-filter>
                <action android:name="com.can.appstore.action.SPECIAL_TOPIC"/>
            </intent-filter>
        </activity>
        <activity android:name=".applist.AppListActivity">
            <intent-filter>
                <action android:name="com.can.appstore.applist.ACTION.applist"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".download.DownloadLeadAcitivity">
        </activity>

        <activity android:name=".uninstallmanager.UninstallManagerActivity">
        </activity>

        <activity android:name=".appdetail.AppDetailActivity">
        </activity>

        <activity
            android:name=".appdetail.ImageScaleActivity"
            android:theme="@style/Image_Scale_Transparent">
        </activity>

        <service android:name=".upgrade.UpgradeService">
            <intent-filter>
                <action android:name="com.can.appstore.upgrade.UpgradeService"/>
            </intent-filter>
        </service>
    </application>

</manifest>